# ─── Supabase ─────────────────────────────────────────────────────────────────
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
DATABASE_URL=

# ─── Gemini ───────────────────────────────────────────────────────────────────
GEMINI_API_KEY=

# ─── AWS ──────────────────────────────────────────────────────────────────────
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_PRIMARY=
AWS_REGION_SECONDARY=

# ─── Kafka ───────────────────────────────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=https://pkc-l7pr2.ap-south-1.aws.confluent.cloud:443
KAFKA_API_KEY=KIZL4SZNCRWBAJ6D
KAFKA_API_SECRET=cfltNR61kn3m3ibdJXGmD20MZlW1BUpYtvBEVHo980DxqaXix/RVE/dndXQ3SNvw
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SCHEMA_REGISTRY_URL=
KAFKA_SR_API_KEY=
KAFKA_SR_API_SECRET=
